src/category.pug
extends pug/layout.pug

block meta
  - var title = 'Category';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Каталог', '/catalog.html')
    +breadcrumb-item('Винтовые компрессоры', '/')
    +breadcrumb-item('Группа оборудования 1')

block content
  +inner-layout('Группа оборудования 1')
    block aside
      .s-catalog-nav
        ul.s-catalog-nav__list
          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#catalog-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="catalog-list"
            ) Центробежные компрессоры
            #catalog-list.collapse.multi-collapse
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item

          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#parts-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="parts-list"
            ) Винтовые компрессоры
            #parts-list.collapse.multi-collapse.show
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link.s-catalog-nav__link--active(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#services-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="services-list"
            ) Подготовка воздуха
            #services-list.collapse.multi-collapse
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item

          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Масло и запасные части
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Насосы и инструменты
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Дополнительное оборудование

    block info
      .row
        .col-12.col-sm-4.order-sm-2
          .swiper-container.s-category-slider
            .swiper-wrapper
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
          +btn('Задать вопрос')
        .col-12.col-sm-8.order-sm-1
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.

          #more.collapse.s-inner-layout__more
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.

          button.s-inner-layout__more-btn(type='button', data-toggle='collapse', data-target='#more', aria-expanded='false', aria-controls='more') Посмотреть полностью

      .s-tabs
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#prop-tab.nav-link.active(data-toggle='tab', href='#prop', role='tab', aria-controls='prop', aria-selected='true') Характеристики
          li.nav-item
            a#service-tab.nav-link(data-toggle='tab', href='#service', role='tab', aria-controls='service', aria-selected='false') Сервис и зап. части
          li.nav-item
            a#media-tab.nav-link(data-toggle='tab', href='#media', role='tab', aria-controls='media', aria-selected='false') Медиа
          li.nav-item
            a#for-tab.nav-link(data-toggle='tab', href='#for', role='tab', aria-controls='for', aria-selected='false') Назначение
        #myTabContent.tab-content
          #prop.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='prop-tab')
            +table().s-table--with-filter
              tr.s-table__filters
                th
                  | Артикул
                  input(type='text', placeholder='Введите значение')
                th
                  | Наименование
                  input(type='text', placeholder='Введите значение')
                th
                  | Наименование
                  input(type='text', placeholder='Введите значение')
              tr.s-table__data
                td 489234-123
                td Suscitat mortuos
                td Suscitat mortuos
              tr.s-table__data
                td 489234-124
                td Defunctis go lum cerebro
                td Defunctis go lum cerebro
              tr.s-table__data
                td 489234-125
                td Zombie sicut de grave feeding iride
                td Zombie sicut de grave feeding iride
              tr.s-table__data
                td 489234-126
                td Iride et serpens
                td Iride et serpens
          #service.tab-pane.fade(role='tabpanel', aria-labelledby='service-tab') 2
          #media.tab-pane.fade(role='tabpanel', aria-labelledby='media-tab') 3
          #for.tab-pane.fade(role='tabpanel', aria-labelledby='for-tab') 4

  +news()

block footer
  +page-footer()

dist/category.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Category</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cferdinandi/houdini@11.0.2/dist/css/houdini.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <symbol id="arrow" viewBox="0 0 11 8">
      <path d="M6.92.15c-.2-.2-.51-.2-.71 0-.2.2-.2.51 0 .71l2.58 2.58H.5c-.28 0-.5.22-.5.5s.22.5.5.5h8.29L6.21 7.02c-.2.2-.2.51 0 .71a.485.485 0 00.7 0l3.79-3.79L6.92.15z" />
    </symbol>
  </svg>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__inner s-page-header__inner--top">
            <div class="s-page-header__logos"><a class="s-logo" href="/index.html"><img src="img/comair.svg" alt="Comair Logo" width="203" height="45" /></a><a class="s-logo" href="/"><img src="img/ingersoll-rand.svg" alt="Comair Logo" width="179" height="45" /></a></div>
            <div class="s-page-header__contact">
              <ul class="s-page-header__contact-list">
                <li><a href="tel:+78126767685">+7 (812) 676-76-85</a></li>
                <li><a href="mailto:spb@comair-russia.ru">spb@comair-russia.ru</a></li>
              </ul><button class="s-btn s-btn--ghost s-btn--without-icon s-btn--small" type="button" data-toggle="modal" data-target="#feedback-modal">Обратный звонок</button>
            </div><button class="s-hamburger" aria-label="Show main navigation" data-target-id="main-nav" data-target-class-toggle="s-main-nav--is-open"><span></span></button>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__inner s-page-header__inner--bottom">
            <nav class="s-main-nav" id="main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/">О компании</a></li>
                <li><a href="/">Оборудование</a></li>
                <li><a href="/">Сервис и услуги</a></li>
                <li><a href="/">Запчасти</a></li>
                <li><a href="/">Информация</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div class="s-breadcrumb">
        <div class="s-breadcrumb__inner">
          <ul class="s-breadcrumb__list" aria-label="Breadcrumb" role="navigation">
            <li class="s-breadcrumb__item"><a href="/index.html">Главная</a></li>
            <li class="s-breadcrumb__item"><a href="/catalog.html">Каталог</a></li>
            <li class="s-breadcrumb__item"><a href="/">Винтовые компрессоры</a></li>
            <li class="s-breadcrumb__item"><span>Группа оборудования 1</span></li>
          </ul>
        </div>
      </div>
      <div class="s-inner-layout">
        <div class="s-inner-layout__inner">
          <h1 class="s-inner-layout__title">Группа оборудования 1</h1>
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="s-catalog-nav">
                <ul class="s-catalog-nav__list">
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="#catalog-list" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="catalog-list">Центробежные компрессоры</a>
                    <div class="collapse multi-collapse" id="catalog-list">
                      <ul class="s-catalog-nav__list s-catalog-nav__list--level-2">
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="#parts-list" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="parts-list">Винтовые компрессоры</a>
                    <div class="collapse multi-collapse show" id="parts-list">
                      <ul class="s-catalog-nav__list s-catalog-nav__list--level-2">
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link s-catalog-nav__link--active" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="#services-list" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="services-list">Подготовка воздуха</a>
                    <div class="collapse multi-collapse" id="services-list">
                      <ul class="s-catalog-nav__list s-catalog-nav__list--level-2">
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                        <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Масло и запасные части</a></li>
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Насосы и инструменты</a></li>
                  <li class="s-catalog-nav__item"><a class="s-catalog-nav__link" href="/">Дополнительное оборудование</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-12 col-sm-4 order-sm-2">
                  <div class="swiper-container s-category-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"><a href="img/why-are-we-cover-example.jpg"><img src="img/why-are-we-cover-example.jpg" alt="/" /></a></div>
                      <div class="swiper-slide"><a href="img/why-are-we-cover-example.jpg"><img src="img/why-are-we-cover-example.jpg" alt="/" /></a></div>
                      <div class="swiper-slide"><a href="img/why-are-we-cover-example.jpg"><img src="img/why-are-we-cover-example.jpg" alt="/" /></a></div>
                    </div>
                  </div><button class="s-btn"><span class="s-btn__label">Задать вопрос</span><span class="s-btn__icon-wrapper"><span class="s-btn__icon-default"><svg width="14" height="11">
                          <use xlink:href="#arrow"></use>
                        </svg></span><span class="s-btn__icon-hover"><svg width="14" height="11">
                          <use xlink:href="#arrow"></use>
                        </svg></span></span></button>
                </div>
                <div class="col-12 col-sm-8 order-sm-1">
                  <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.</p>
                  <div class="collapse s-inner-layout__more" id="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.</div><button class="s-inner-layout__more-btn" type="button" data-toggle="collapse" data-target="#more" aria-expanded="false" aria-controls="more">Посмотреть полностью</button>
                </div>
              </div>
              <div class="s-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="prop-tab" data-toggle="tab" href="#prop" role="tab" aria-controls="prop" aria-selected="true">Характеристики</a></li>
                  <li class="nav-item"><a class="nav-link" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Сервис и зап. части</a></li>
                  <li class="nav-item"><a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Медиа</a></li>
                  <li class="nav-item"><a class="nav-link" id="for-tab" data-toggle="tab" href="#for" role="tab" aria-controls="for" aria-selected="false">Назначение</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="prop" role="tabpanel" aria-labelledby="prop-tab">
                    <div class="s-table s-table--with-filter">
                      <table>
                        <tr class="s-table__filters">
                          <th>Артикул<input type="text" placeholder="Введите значение" /></th>
                          <th>Наименование<input type="text" placeholder="Введите значение" /></th>
                          <th>Наименование<input type="text" placeholder="Введите значение" /></th>
                        </tr>
                        <tr class="s-table__data">
                          <td>489234-123</td>
                          <td>Suscitat mortuos</td>
                          <td>Suscitat mortuos</td>
                        </tr>
                        <tr class="s-table__data">
                          <td>489234-124</td>
                          <td>Defunctis go lum cerebro</td>
                          <td>Defunctis go lum cerebro</td>
                        </tr>
                        <tr class="s-table__data">
                          <td>489234-125</td>
                          <td>Zombie sicut de grave feeding iride</td>
                          <td>Zombie sicut de grave feeding iride</td>
                        </tr>
                        <tr class="s-table__data">
                          <td>489234-126</td>
                          <td>Iride et serpens</td>
                          <td>Iride et serpens</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">2</div>
                  <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">3</div>
                  <div class="tab-pane fade" id="for" role="tabpanel" aria-labelledby="for-tab">4</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="s-news">
        <div class="container">
          <h2 class="s-section-title">Полезная информация</h2>
          <ul class="s-news__list row">
            <li class="s-news__item col-12 col-md-6 col-lg-3"><time class="s-news__date" datetime="2019-09-01T00:00:00.000Z">1 Сентября 2019</time><a href="/">
                <h3 class="s-news__title">De apocalypsi gorger omero undead survivor dictum mauris</h3>
              </a></li>
            <li class="s-news__item col-12 col-md-6 col-lg-3"><time class="s-news__date" datetime="2019-07-18T00:00:00.000Z">18 Июля 2019</time><a href="/">
                <h3 class="s-news__title">Hi mindless mortuis soulless creaturas, imo evil stalking monstra</h3>
              </a></li>
            <li class="s-news__item col-12 col-md-6 col-lg-3"><time class="s-news__date" datetime="2019-08-19T00:00:00.000Z">19 Августа 2019</time><a href="/">
                <h3 class="s-news__title">Adventus resi dentevil vultus comedat cerebella viventium</h3>
              </a></li>
            <li class="s-news__item col-12 col-md-6 col-lg-3"><time class="s-news__date" datetime="2019-04-10T00:00:00.000Z">10 Апреля 2019</time><a href="/">
                <h3 class="s-news__title">Imo evil stalking monstra adventus resi dentevil vultus comedat</h3>
              </a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-5">
              <div class="s-page-footer__intro"><a class="s-logo" href="/index.html"><img src="img/comair--white.svg" alt="Comair Logo" width="153" height="30" /></a>
                <p class="s-page-footer__desc">De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="s-page-footer__nav">
                <ul class="s-page-footer__nav-list">
                  <li><a href="/">Винтовые компрессоры</a></li>
                  <li><a href="/">Центробежные компрессоры</a></li>
                  <li><a href="/">Подготовка воздуха</a></li>
                  <li><a href="/">Масло и запасные части</a></li>
                  <li><a href="/">Насосы и инструмент</a></li>
                  <li><a href="/">Дополнительное оборудование</a></li>
                </ul>
                <ul class="s-page-footer__nav-list">
                  <li><a href="/service.html">Сервис</a></li>
                  <li><a href="/">Услуги</a></li>
                  <li><a href="/">Запчасти</a></li>
                  <li><a href="/">Оборудование</a></li>
                  <li><a href="/">Полезная информация</a></li>
                  <li><a href="/">О компании</a></li>
                  <li><a href="/">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="s-page-footer__contact">
                <ul class="s-page-footer__contact-list">
                  <li>
                    <h3 class="s-page-footer__title">Телефон | Факс</h3><a href="tel:+78126767685">+7 (812) 676-76-85</a>
                  </li>
                  <li>
                    <h3 class="s-page-footer__title">E-mail:</h3><a href="mailto:spb@comair-russia.ru">spb@comair-russia.ru</a><a href="mailto:ir@comair-russia.ru">ir@comair-russia.ru</a>
                  </li>
                  <li>
                    <h3 class="s-page-footer__title">Адрес:</h3><address>192029, Санкт-Петербург,<br/> пр. Обуховской обороны, д. 86 л. К</address>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12">
              <div class="s-page-footer__copyright"><span>© 2019. Comair</span><span>Created by Springbay</span></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
